body {
    height: 100%;
    background: black;
}

@-webkit-keyframes rainbow {
  0% {border-color: hsl(280,100%,50%);}
  50% {border-color: hsl(320,100%,50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}

nav {
  background: linear-gradient(1deg,#000,#292929);
  border-bottom: 2px solid hsl(240,100%,50%);
  -webkit-animation: rainbow 5s infinite alternate;
}

img {
  position: absolute;
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%,-50%);
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
}

main {
    position: absolute;
    height: 60%;
    top: 57%;
    left: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
}

.container {
    position: relative;
    background: linear-gradient(1deg,#000,#292929);
    background: linear-gradient(1deg,#000,#292929);
    border: 2px solid hsl(240,100%,50%);
    -webkit-animation: rainbow 5s infinite alternate;
}
  
  .container:before, .container:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 550%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 18s linear infinite;
}

.city-input {
    border-color: black;
}

.date-input {
    border-color: black;
}

#submit {
    font-weight: 600 ;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#submit:before {
    content: "";
    background: linear-gradient(-30deg,#fb0094,#0000ff, #fb0094, #0000ff, rgb(0, 144, 255), rgb(135, 0, 255), #fb0094);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#submit:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.btn-back {
  color: white;
  font-size: larger;
  font-weight: 600;
  border-radius: 10px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(1deg,#000,#292929);
  border: 1.5px solid hsl(240,100%,50%);
  -webkit-animation: rainbow 5s infinite alternate;
}

.btn-back:hover {
  -webkit-animation:link 3.5s infinite;
  border-color: #000;
}

.navlink:hover {
  -webkit-animation:link 3.5s infinite;
}
@-webkit-keyframes link{
  0% {color: rgb(0, 144, 255);}
  16% {color: #4b30e2;}
  33% {color: rgb(135, 0, 255);}
  49% {color: #de00fb;}
  65% {color: rgb(135, 0, 255);}
  100% {color: rgb(0, 144, 255);}
}

@media screen and (max-width: 700px) {
  .btn-back {
    font-size: medium;
    padding: 1.5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.input-group {
  background: linear-gradient(1deg,#000,#292929);
  background: linear-gradient(1deg,#000,#292929);
  border: 2px solid hsl(240,100%,50%);
  -webkit-animation: rainbow 5s infinite alternate;
}